// .text {
//     // margin-left: 27rem;
//     // display: flex;
//     // align-items: center;
//     text-align: center;
// }
// #root{
//     height:100vh;
    
// }
section{
    padding-bottom: 9rem;
}
// .text{
//     font-size: small;
// }
p{
    padding-bottom: 5px;
    margin-bottom: 0px;
}