.body{
    background: linear-gradient(to top, #f1e7ff 0%, #f6f9ff 100%);
    padding: 15px;
    
}
// p{
//     margin-left: 35vw;
//     width: 30vw;
// }
.img{
    padding: 10px;
    width: 20rem;
    height: 25rem;
    border-radius: 10%;
}
.img1{
    height: 35rem;
    width: 20rem;
}
.img2 {
    padding: 10px;
    width: 97vw;
}

.container1{
    
    padding: 20px;
    
}
.insidetext{
    padding: 2.5px;
    text-align: center;
    font-family: cursive;
}
.row{
    padding-top:20px;
}
.col{
    padding: 10px;
}